In [1]:
import numpy as np

$$
e^{i\pi}=-1
$$

$$\sum_{k=1}^{n} k \geq H\psi(x,t)$$

### ロジスティック関数（シグモイド関数）は、**$ \sigma(x) = \frac{1}{1+exp(-\theta^ T x)}$**で表される。

In [17]:
import pandas as pd

df = pd.DataFrame([[100, 200, 300], [200, 400, 600], [300, 600, 900]], index=['A', 'B', 'C'], columns=['sales', 'price', 'number'])
df

   sales  price  number
A    100    200     300
B    200    400     600
C    300    600     900

In [18]:
df.sum()

sales      600
price     1200
number    1800
dtype: int64

In [19]:
df.loc['sum'] = df.sum()
df

     sales  price  number
A      100    200     300
B      200    400     600
C      300    600     900
sum    600   1200    1800

In [20]:
df['sum'] = df['sales'] + df['price'] + df['number']
df

     sales  price  number   sum
A      100    200     300   600
B      200    400     600  1200
C      300    600     900  1800
sum    600   1200    1800  3600